<nav>
  <div class="background-addition"></div>
  <section class="tool">
    <a href="/polls/{{pollTitle}}/add-poll">
      <span class="material-icons">
        add_circle_outline
      </span>
      Create a Poll
    </a>
  </section>
</nav>
