<section class="container">
  <h1> The page you were looking for doesn't exist.</h1>
  <h2> Check the link or create a new poll!</h2>
  <form action="/create-poll" method="post">
    <label for="name">
      <input type="text" name="name">
    </label>
    <input type="submit" value="Create Poll">
  </form>
</section>
