<section class="container">
  <form action="/create-poll" method="post" class="home-form">
    <fieldset></fieldset>
    <label for="name">
      Poll list name
      <input type="text" name="name">
    </label>
    <input type="submit" value="Create Poll list">
  </form>
</section>
