<section class="container">
  <h2>{{ pollTitle }}</h2>


  <form action="/polls/{{makeUrlSafe pollTitle}}/add-poll" method="post" class="play-form">
    <label for="pollQuestion">
      Question
      <input type="text" name="pollQuestion">
    </label>
    <label for="answer">
      Answer Type
      <select name="answer" id="answer">
        <option value="multiple" selected>Multiple Answers</option>
        <option value="open-text">Open Answer (text)</option>
        <option value="open-number">Open Answer (number)</option>
      </select>
    </label>
    <fieldset class="multiple">
      <label for="answerA">
        A <input type="text" name="answerA">
      </label>
      <label for="answerB">
        B <input type="text" name="answerB">
      </label>

      <noscript>
        <p> Leave these empty if open answer is selected.</p>
      </noscript>
      <noscript>
        <p> Turn on Javascript to add more answers!</p>
      </noscript>
    </fieldset>

    <label for="pollStatus">
      Pol status
      <input type="checkbox" name="pollStatus">
    </label>

    <input type="submit" value="Add Poll">
  </form>
</section>
