<section class="container">
  <h2>{{ pollTitle }}</h2>


  <form action="/{{pollTitle}}/add-poll" method="post">
    <label for="question">
      Question
      <input type="text" name="question">
    </label>
    <label for="answer">
      <select name="answer" id="answer">
        <option value="multiple" selected>Multiple Answers</option>
        <option value="open-text">Open Answer (text)</option>
        <option value="open-number">Open Answer (number)</option>
        <option value="slider">Slider Answer</option>

      </select>
    </label>

    <label for="a-closed">
      A <input type="text" name="a-closed">
    </label>
    <label for="b-closed">
      B <input type="text" name="b-closed">
    </label>

    <input type="submit" value="Add Poll">
  </form>
</section>
