:root {
  --primary-color: #ECC3C3;
  --cta-color: #D4526C;
  --light-color: #FFFFFF;
  --dark-color: #2A2A2A;

  --result-color-1: #80EEBB;
  --result-color-2: #9370DB;
  --result-color-3: #FEEA65;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
  box-sizing: border-box;
}

.container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
