.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container form input[type="submit"] {
  /*background-color: var(--cta-color);*/
  color: var(--dark-color);
  padding: .5em 1em;
  border: none;
}

