.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10em;
}

.container form input[type="submit"] {
  background-color: var(--cta-color);
  color: var(--light-color);

  padding: .5em 1em;
  margin-top: 2em;

  border: none;
  border-radius: 1em;
}
