.material-icons {
  font-size: 2em;
}
.open {
  display: flex;
  flex-direction: column;

}
.open span {
  cursor: pointer;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tool {
  display: flex;
  align-items: center;
}

.closed p:first-letter {
  font-weight: bold;
}

.tool a {
  width: 3.5em;
  font-size: .8em;
}
