.poll-result {
  width: 90vw;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
  box-shadow:
    rgba(224, 192, 220, 0.4) -5px 5px,
    rgba(224, 192, 220, .3) -10px 10px,
    rgba(224, 192, 220, .2) -15px 15px,
    rgba(224, 192, 220, .1) -20px 20px,
    rgba(224, 192, 220, .05) -25px 25px;
}
.empty-polls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.empty-polls p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  max-width: 28em;
}
.result-btn {
  display: flex;
  text-decoration: none;
  color: var(--dark-color);
  padding: .5em 1em;
  width: -moz-max-content;
  width: max-content;
  height: 2em;
  position: relative;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: var(--result-color-1);
}
.poll-answers-multiple {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-color);
}
/*.poll-answers-multiple .poll-answer-multiple:first-of-type,*/
.poll-answer-multiple:first-of-type meter::-webkit-meter-optimum-value {
  background-color: var(--primary-color);
}
/*.poll-answers-multiple .poll-answer-multiple:nth-child(2),*/
.poll-answer-multiple:nth-child(2) meter::-webkit-meter-optimum-value{
  background-color: var(--cta-color);
}
/*.poll-answers-multiple .poll-answer-multiple:nth-child(3),*/
.poll-answer-multiple:nth-child(3) meter::-webkit-meter-optimum-value{
  background-color: var(--result-color-1);
}
/*.poll-answers-multiple .poll-answer-multiple:nth-child(4),*/
.poll-answer-multiple:nth-child(4) meter::-webkit-meter-optimum-value{
  background-color: var(--result-color-2);
}
/*.poll-answers-multiple .poll-answer-multiple:nth-child(5),*/
.poll-answer-multiple:nth-child(5)  meter::-webkit-meter-optimum-value {
  background-color: var(--result-color-3)
}

.poll-answer-multiple {
  width: 100%;
  height: 8em;
  margin: -2em 1em;
  position: relative;
  display: flex;
  flex-direction: row;
}
.poll-answer-multiple p {
  color: var(--dark-color);
  margin: 0;
  line-height: 8em;
  font-family: 'Raleway', sans-serif;
}
.poll-answer-multiple p:first-of-type {
  padding-left: 1em;
  font-weight: 700;
}
.poll-answer-multiple p:last-of-type {
  text-align: center;
  width: 100%;
  font-weight: 300;
}
.poll-answer-multiple p, .poll-answer-multiple div {
  z-index: 10;
}

.poll-answer-multiple meter {

  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.poll-answer-multiple meter::-webkit-meter-inner-element{

  width: 100%;
  height:100%;
  padding:0;
  margin:0;
}
.poll-answer-multiple meter::-webkit-meter-bar {
  background: var(--light-color);
  border-radius: 0;
  border: none;
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
}
.poll-answer-multiple meter::-webkit-meter-optimum-value{
  height: 100%
}
.poll-answer-multiple meter::-webkit-meter-suboptimum-value{
  background: var(--result-color-1);
  height: 100%
}
.poll-answer-multiple meter::-webkit-meter-even-less-good-value{
  background: var(--result-color-2);
  height: 100%
}

.poll-answer-open {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}

.text-blob {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: .5em 1em;
  margin: 0.5em;
  border-radius: 1em;
}

label[for="open-answer"] {
  margin-top: 1em;
}
label[for="open-answer-number"] {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
label[for="open-answer-number"] input {
  width: 30%;
}
label[for="open-answer-number"] + input[type="submit"],
label[for="open-answer"] + input[type="submit"] {
  background-color: var(--result-color-1);
  width: 100%;
  margin-top: 1em;
}

@-moz-document url-prefix(),
@media only screen and (max-device-width: 480px) {
  .poll-result {
    min-height: 10em;
  }
  .poll-answers-multiple {
    flex-direction: column-reverse;
  }
  .poll-answer-multiple {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .poll-answer-multiple p {
    color: var(--dark-color);
    margin: 0;
    line-height: 3em;
    font-family: 'Raleway', sans-serif;
  }
  .poll-answer-multiple meter {
    height: 3em;
  }
}
